<div class="text-text-primary min-h-screen">
  <app-header />

  <main class="overflow-x-hidden container mx-auto px-6">
    <app-hero />
    <app-about />
    <app-experience />
    <app-education />
    <app-skills />
    <app-figma-showcase />
    <app-ux-case-study />
    <app-behance-showcase />
    <app-google-ai />
    <app-live-websites />
    <app-creative-gallery />
    <app-email-templates />
    <app-github-artifacts />
    <app-awards />
    <app-contact />
  </main>

  <app-footer />
</div>